@import url('font.css');

html {
    scroll-behavior: smooth;
}

body {
    background-color: snow;
    font-family: 'Avenir Next Condensed',Fallback, cursive ;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    text-decoration: none;
    border: 2px solid rgb(199, 164, 11);
    padding: 10px;
    font-size: 20px;
}

.button:hover {
    border-radius: 30px;
    background-color: rgb(199, 164, 11);
    color: white;
    transition: 0.5s ease-in-out;
}



header {
    position: fixed;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f4f4f4;
    justify-content: space-between;
    align-items: center;
    background-color: snow;
    width: 100vw;
    z-index: 1;
}

.nav-div {
    padding-right: 100px;
}
.main-logo {
    height: 65px;
    margin-left: 30px;
}
header ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}
header ul li a {
    text-decoration: none;
    font-size: 20px;
}



   

    /* FOOTER */
 .footer {
    font-family: 'Avenir Next LTW04', Fallback, cursive;
    background-color: rgb(4, 4, 54);
    min-height: 30vh;
}
.footer-wrapper {
    padding: 50px;
    color: white;
    display: flex;
}
.left-footer {
    flex: 1;
}
.right-footer {
    display: flex;
    flex: 3;
    justify-content: space-around;
}
.footer ul li {
    list-style: none;
    margin: 5px 5px 5px 0;
    padding: 2px;
}
.footer ul li a, .footer a {
    color: rgba(17, 99, 251, 0.5);
    font-size: 18px;
    text-decoration: none;
}
.footer ul li a:hover {
   color: #e0d1d193;
}
.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.918);
    padding: 30px;
}
