{%extends 'base.html'%}

{%load static%}


{%block site_description%}
<meta name="description" content="Author: Werld Analytics,
Site Description: Werld Analytics are expects in data curation and analysis providing detailed and excellent data analysis.">
{%endblock%}

{%block extra_css%}
<link rel="stylesheet" type="text/css" href="{% static 'services/css/home.css' %}" />    
{%endblock%}


{%block content%}
<section class="banner">
    <p>
        Welcome to  <br><span>Werld Analytics</span>
         <br> <p>Data Solutions Expert and More...</p> 
    </p>
</section>

<section class="about" id="about">
    <div class="box box1">
        <div><h1>
                Who We Are!
            </h1> <div class="underline"></div>
        </div>
        <div><p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Maxime aut illum quam amet excepturi delectus cupiditate 
            autem debitis atque eveniet. Minima, unde. 
            Maxime aut illum quam amet excepturi delectus cupiditate
            Maxime aut illum quam amet excepturi delectus cupiditate
            Corporis suscipit quae ab cum nam. Corporis, dolores!
        </p></div>
        <div><a href="" class="button">Read more</a></div>
    </div>
    <div class="box box2">
        <p>
            <span>"</span> 
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Reprehenderit deserunt, facere eum maiores quia et? 
            <span>"</span> 
        </p>
        <h5>ALBERT EINSTEIN</h5>
    </div>
    <div class="box box3">
    </div>
</section>

<section class="comments">
    <div>
        <h1 class="main-topic">
        What Our Clients Say
        </h1>
        <p class="sub-topic">
            Our works are spectacular for which reason our clients
            can not keep mute. These are some of the comments those
            we have worked for have to say about us.
        </p>
    </div>
    <div class="people">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="message-wrapper d-block w-80">
                    <div class="messager">
                        <div class="round-image">
        
                        </div>
                    </div>
                    <div class="message">
                        
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Similique provident voluptatum repellendus,  
                                Similique provident voluptatum repellendus,
                                cum rem saepe consequatur quae? Saepe, expedita laboriosam!
                            </p>
                        </div>
                        <div class="names">
                        <h3>Samuel Nana Mensah</h3>
                        <h4>CEO, Hans Academy</h4>
                        </div>
                    </div>
                    
                </div>
              </div>
              <div class="carousel-item">
                <div class="message-wrapper d-block w-80">
                    <div class="messager">
                        <div class="round-image">
        
                        </div>
                    </div>
                    <div class="message">
                        
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Similique provident voluptatum repellendus,  
                                Similique provident voluptatum repellendus,
                                cum rem saepe consequatur quae? Saepe, expedita laboriosam!
                            </p>
                        </div>
                        <div class="names">
                        <h3>Samuel Nana Mensah</h3>
                        <h4>CEO, Hans Academy</h4>
                        </div>
                    </div>
                    
                </div>
              </div>
              <div class="carousel-item">
                <div class="message-wrapper d-block w-80">
                    <div class="messager">
                        <div class="round-image">
        
                        </div>
                    </div>
                    <div class="message">
                        
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Similique provident voluptatum repellendus,  
                                Similique provident voluptatum repellendus,
                                cum rem saepe consequatur quae? Saepe, expedita laboriosam!
                            </p>
                        </div>
                        <div class="names">
                        <h3>Samuel Nana Mensah</h3>
                        <h4>CEO, Hans Academy</h4>
                        </div>
                    </div>
                    
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>
        
    </div>
</section>




<section class="main-services">
    <div id="services">
        <h1 class="main-topic">
            Some Services we offer
        </h1>
        <p class="sub-topic">
            Our works are spectacular for which reason our clients
            can not keep mute. These are some of the comments those
            we have worked for have to say about us.
        </p>
    </div>
    <div class="services">
        {% for service in services.all%}
            <div class="web service">
                <div class="service-image">
                    <img src="{{service.image.url}}" width="200px" alt="{{service.name}}">
                </div>
                <div class="service-topic">
                    <h2>{{service.service_name}}</h2>
                </div>
                <div class="service-text">
                    <p>{{service.short_description}}</p>
                </div>
                <div class="service-button">
                    <a href="" class="button">Read More</a>
                </div>
            </div>
        {%endfor%}
    </div>
</section>



{%endblock%}